{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="#">About the blog</a>
                </h1>
                <p class="lead">
                {% if user %}
                    {{ user.first_name }}
                    {{ user.last_name }}
                    {{ user.email }}
                {% endif %}
                </p>

                <button>Add Post</button>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}