{% extends "blogs/blog_base.html" %}


{% block head_title %}{{ SITE_NAME }} ({{ section_name }}){% endblock %}

{% block content %}
    {% if posts %}
        <div class="post-list">
            {% for post in posts %}
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                {% include "blogs/dateline.html" %}
                <div class="teaser">{{ post.teaser_html|safe }}</div>
                <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
            {% endfor %}
        </div>
    {% else %}
        <p>No blog posts have been published in this section.</p>
    {% endif %}
{% endblock %}
