{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block styles %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block nav %}
<ul class="nav navbar-nav">
    <li id="tab_first">
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li id="tab_second" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sections
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
        {% for section in sections %}
            <li><a href="{% url 'blog_post' %}">{{ section }}</a></li>
        {% endfor %}
        </ul>
    </li>
    <li id="tab_third">
        <a href="{% url 'contactus' %}">Contact Us</a>
    </li>
</ul>{% endblock %}
{% block footer_base %}{% endblock %}


{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}


{% block scripts %}
    <script src="{% block jquery_src %}https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
